.App {
  text-align: center;
  background: black;
  color: white;
  display: block;
  font-family: 'Cinzel', serif;
}

.App h1 {
  font-family: 'Cinzel',serif;
}

.App h3 {
  font-family: 'Cinzel',serif;
}

.App h4 {
  font-family: 'Cinzel',serif;
}

.App h5 {
  font-family: 'Cinzel',serif;
}
.banner{
  height: 720px;
  position: relative;
  background: url('https://images.unsplash.com/photo-1558904541-efa843a96f01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80') center / cover;
  padding-top: 25px; 
}
.logo {
  display: block;
  /* margin-top: 35px;  */
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 25%;
  height: 200px;
  width: 200px;
}

.info-div {
  color:white;
  background: #078929;
  width:60%;
  padding: 15px;
  display:block;
  margin:auto;
  margin-top: 25px;
  opacity: .9;
  border-radius: 10px;
  border: solid white 2px;
}

.info-div hr{
  border-top: 5px solid white;
  font-size: 20px;
  width: 60%;
  margin:auto;
}

.social-links {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  /* margin-top: 10px; */
}

.social-links a {
  font-size: 5em;
  padding: 20px;
}

.about-body{
  margin: auto;
  width: 100%;
  justify-content: center; 
  margin-top: 30px;
}

.about-grid{ 
  text-align: center;
  justify-content: center;
  width: 85%;
}

.about-image {
  width: 100%;
  /* margin-top: 3em; */
  justify-content: center;
}

.about-us{ 
/* padding-top:2%; */
}

.gallery{
  width:90%;
  display: block;
  margin-top: 40px;
  margin-left:auto;
  margin-right:auto;
}

.contact-form{
  width:50%;
  display: block;
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;
}

.contact-form Form{
  margin-top: 25px;

}
/* .Commercial-content{
  padding-top: 100px;
} */
.footer{
  margin-top:50px;
  width:100%;
}